<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Login</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% for message in messages %}
            <h5>
                <div class="alert alert-danger mt-5">
                    {{ message }}
                </div>
            </h5>
                {% endfor %}
        </div>
        <div class="col-md-4"></div>
    </div>
    
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8 mt-5'>
            <div class="card p-3">
                <form method='post' class='post-form' action="{% url 'login_page' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h3 class="text-primary text-center">Log In</h3>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Username</label>
                            <input type="text" name="username" class='form-control'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Password</label>
                            <input type="password" name="password" class='form-control'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 mt-3">
                            <button type='submit' class='btn btn-outline-primary rounded-pill w-100'>LogIn</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-md-2'></div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>